@font-face {
  font-family: Greycliff_Extra_Bold;
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Fontspring-DEMO-greycliffcf-extrabold.otf');
}

@font-face {
  font-family: Greycliff_Light_Regular;
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Fontspring-DEMO-greycliffcf-regular.otf');
}