body {
  font-family: "Greycliff_Light_Regular", Segoe UI, sans-serif;
  padding: 4rem;
  /* background: #ebf7ff; */
  background-image: linear-gradient(#ebf7ff, #94cbf5);
}

h1 {
  font-family: "Greycliff_Extra_Bold", Verdana, sans-serif;
  color:#000000;
  font-size: 40px;

}

h2 {
   font-family: "Brandon_Grotesque_Thin";
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

hr {
  border: none;
  height: 2px;
  width: 500px;
  color: #77a2cb;  
  background-color: #77a2cb;  
}

footer {
  font-family: "Brandon_Grotesque_Regular";
}
/* h4 {
  float: right;
  font-size: 18px;
} */

p {
  font-size: 17px;
}

.centering {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  /* justify-content: center; */
}

nav a {
  font-family: "Greycliff_Demibold", Verdana, sans-serif;
  display:inline-block;
  color: black;
  font-size: 20px;
  padding: 16px 16px;
  /* padding-left: 60px; */
  text-decoration: none;
  text-align: center;
}


nav a:hover, nav a:focus {
  font-weight: 600;
  color: #77a2cb;
  text-decoration: none;
}

.in-text-link {
  color: #77a2cb;
}

.in-text-link:hover, .in-text-link:focus{
  color: #000;
  text-decoration: none;
}

.element {
  border-top-style: solid;
  border-top-color: black;
}

section {
  padding-bottom: 2rem;
}

.button {
  font-weight: 600;
  background-color: #77a2cb;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button:hover{
  font-weight: 600;
  background-color: #a6cdf2;
  cursor: pointer;
}

input{
  font-family: "Greycliff_Light_Regular";
  background-color:white;
  border-radius: 25px;
}

input:hover, input:focus {
  background-color: white;
}

.image-with-text {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  display: flex;
  align-items: flex-start;
   flex-grow: 1;
}

.name-title {
  text-decoration: none;
}

.intro-text {
  margin-top: 5%;
  flex-grow: 1; 
}

 
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .container {
    padding: 20px 20px 20px 20px;
    border: solid #77a2cb;
    border-radius: 10px;
  }

.container:hover {
  background-color: white;
}

  .container-work {
    text-align: center;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    color: white;
  }

  .container-product2 {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #cebcdc;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
  }

  .container-product3 {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #abd59e;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
  }

  .container-product4 {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #f6c3ae;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
  }

  .container-product5 {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #ffdd86;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
  }

  .container-product6 {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #F0743E;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .container button {
    width: 100%;
  }

.work-image {
  border-radius:20px;
}

.work-image:hover {
  background-colour:black;
  opacity: .5;
}

.container_padding{
  padding-right: 40px;
  padding-bottom: 20px;

  order: 2; /* Default order */

}

.product_alignment {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;

  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: center;

}

 