/* body {
  font-family: "Greycliff_Light_Regular", Segoe UI, sans-serif;
  background-image: linear-gradient(#ebf7ff, #94cbf5);
} */

/* body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #454545;
} */

body {
  margin:0;
  padding:0;
}

/* *{
  box-sizing: border-box;
} */

h1 {
  font-family: "Greycliff_Extra_Bold", Verdana, sans-serif;
  color:#000000;
  font-size: 30px;
}

h1-logo {
  font-family: "Greycliff_Extra_Bold", Verdana, sans-serif;
  color:#000000;
  font-size: 30px;
}

h1-logo:hover {
  color:#77a2cb;
}


header {
  /* padding: 16px 16px; */
  top:0;
  width:100%;
  border-bottom:1px solid #eaeaea;
  position: absolute;

}

header nav a {
  /* padding: 0 16px; */
  color:black;
  font-family: "Greycliff_Demibold", Verdana, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

header nav a:hover {
  color: #77a2cb;
}

/* header nav {
  display:flex;
  align-items: center;
} */


header nav {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 0 50px;
}





/* div {
    display: block;
    unicode-bidi: isolate;
} */



/* nav a {
  font-family: "Greycliff_Demibold", Verdana, sans-serif;
  display:flex-box;
  color: black;
  font-size: 20px;
  padding: 16px 16px;
  /* padding-left: 60px; */
  /* align:right
  justify-content: space-between;
  unicode-bidi: isolate;
  text-decoration: none;
  text-align: center;
} */

/* a:hover, nav a:focus {
  font-weight: 600;
  color: #77a2cb;
  text-decoration: none;
} */ 



/* header {
    padding: 20px 0;
    border-bottom: 1px solid #77a2cb;
    position: absolute;
    top: 0;
    width: 100%;
} */

/* div {
    display: block;
    unicode-bidi: isolate;
}

header nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
} */